{% extends '::base.html.twig' %}

{% block title %}
Validation de la commande
{% endblock %}

{% block page_title %}
Validation de la commande
{% endblock %}

{% block page_subtitle %}
Saisie des informations client
{% endblock %}

{% block body -%}

    <div class="row">
        <div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
            </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
            </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
            </div>
            {% endfor %}
        </div>
    </div>

    Afin de valider votre commande, merci de renseigner les informations suivantes :
    <div class="row">
        <div class="well bs-component col-sm-7">
            {% form_theme edit_form 'elinoixshopBundle:Form:bootstrap-form.html.twig' %}
            {{ form(edit_form) }}
        </div>
    </div> 
    {#<table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            <tr>
                <th>Prixtotal</th>
                <td>{{ entity.prixTotal }}</td>
            </tr>
        </tbody>
    </table>#}

{#  <ul class="record_actions">
        <li>
            <a href="{{ path('commande') }}">
                Retourner à la liste
            </a>
        </li>
    </ul>#}
{% endblock %}
