{% extends '::base.html.twig' %}

{% block title %}
Liste des Livraison
{% endblock %}

{% block page_title %}
Liste des Livraison
{% endblock %}

{% block page_subtitle %}{% endblock %}

{% block body -%}

    <div class="row">
        <div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
            </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
            </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
            </div>
            {% endfor %}
        </div>
    </div>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Organisation</th>
                <th>Jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('livraison_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.organisation %}{{ entity.organisation }}{% endif %}</td>
                <td>{% if entity.jour %}{{ entity.jour|date('d/m/Y') }}{% endif %}</td>
                <td>
                <ul>
                    <li>                        <a href="{{ path('livraison_show', { 'id': entity.id }) }}"> voir </a>
                                            </li>
                    <li>                        <a href="{{ path('livraison_edit', { 'id': entity.id }) }}"> éditer </a>                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('livraison_new') }}">
                Ajouter
            </a>
        </li>
    </ul>
    {% endblock %}
